<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/public/forms.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/public/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/public/product.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["email"] == null)
                    {
                        <li><a href="/User/WelcomeHome">Home</a></li>
                        <li><a href="/User/Login">login</a></li>
                        <li><a href="/User/Register">Register</a></li>
                    }
                    else if (Session["email"].ToString() == "admin@admin.com")
                    {
                        <li><a href="/products/AdminIndex">Home</a></li>
                        <li><a href="/products/shop">shop</a></li>
                        <li><a href="/User/LogOut">logout</a></li>
                    }
                    else
                    {

                        <li><a href="/products/shop">shop</a></li>
                        <li><a href="/products/cart">cart</a></li>
                        <li><a href="/User/LogOut">logout</a></li>

                    }


                    @*<li>@Html.ActionLink("logout", "Contact", "Home")</li>*@

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:50px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;AK</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
